<template>

	<div class="loginForm">
		<h1> Welcome To Foodster </h1>
		<input type="email" v-model="accountInfo.email" placeholder="Email" name= "email">
		<input type="password" v-model="accountInfo.password" placeholder="Password" name= "password">
		<input type="submit" v-on:click="login" name="Login" value="Login">

		<div class="loginFormErrors">
			<p v-if="errors">{{errors}}</p>
		</div>
	</div>


</template>

<script>

	import firebase from 'firebase'

	export default {
		name: 'login',
		data(){
			return{
			errors:null,
			accountInfo:{
				email:null,
				password:null,
				}
			}
		},
		methods:{
			login:function(e){


			if(this.accountInfo.email == null)
				return this.errors = 'Email Required'
			if(this.accountInfo.password == null)
				return this.errors = 'Password Required'
			if(this.accountInfo.email.length < 10)
				return this.errors = 'Email too short'
			if(this.accountInfo.password.length < 10)
				return this.errors = 'Password too short'

				firebase
					.auth()
					.signInWithEmailAndPassword(this.accountInfo.email,this.accountInfo.password)
					.then(
						user => {						
						this.$router.go({path: this.$router.path })
					},err =>{
						this.errors = err.message;
					});
				},
		},
	}
</script>
