<template>

	<div class="signUpForm">
		<h1> Foodster Sign Up </h1>
		<input type="email" v-model="accountInfo.email" name= "email" placeholder="Email">
		<input type="password" v-model="accountInfo.password" name= "password" placeholder="Password">
		<input type="password" v-model="accountInfo.passwordRepeat" name= "passwordRepeat" placeholder="Password Repeat">
		<input type="submit" v-on:click="register" name="Login" value="Register">

		<div class="signUpFormErrors">
			<p v-if="errors">{{errors}}</p>
		</div>
	</div>


</template>

<script>

	import firebase from 'firebase'

	export default {
		name: 'signup',
		data(){
			return{
			errors:null,
			accountInfo:{
				email:null,
				password:null,
				passwordRepeat:null,
				}
			}
		},
		methods:{
			register:function(e){
				
			if(this.accountInfo.email == null)
				return this.errors = 'Email Required'
			if(this.accountInfo.password == null)
				return this.errors = 'Password Required'
			if(this.accountInfo.passwordRepeat == null)
				return this.errors = 'Repat Your Password Required'

			if(this.accountInfo.email.length < 10)
				return this.errors = 'Email too short'
			if(this.accountInfo.password.length < 10)
				return this.errors = 'Password too short'
			if(this.accountInfo.password != this.accountInfo.passwordRepeat)
				return this.errors = 'Password mismatch'

				
			firebase.auth().createUserWithEmailAndPassword(this.accountInfo.email,this.accountInfo.password)
				.then(user =>{					
					this.$router.go({path: this.$router.path })
				},err =>{
					this.errors = err.message;
				});	
			}
		}

	}
</script>
