<template>
	<div>
		 <div class="camera-modal">
			<video ref="video" autoplay class="camera-stream"/>
		</div>
		<button class="captureButton" v-on:click="imageCapture">Capture Image</button>
		
	
		<toggle-button v-if="toggleButton" @change="buttonValue($event.value)" :value="buttonMode" color="#f44336" :sync="true" 
		 :labels="{checked: 'Front', unchecked: 'Back'}"  :width = "80" :height = "30" />		
</label>


		<img class="imageBox" id="photo">
	</div>
</template>

<script>
	
	/*
	So this instance would be created only once this should be moved to other file
	*/

  import firebase from 'firebase'
  export default {
	 name:"CameraComponent", 	 
  data(){
	return{
		dataStream:null,
		takenImage : null,	
		buttonMode:true, // Tells what is the first value of the button
		toggleButton : false,
		db:null,
		cameraMode: {facingMode: "user"},
		inputData:{
			id: null,
			timestamp:null,
			fileName:null,
			status:false,
			response:false,
      latitude:null,
      longitude:null,
      
		},
	}
  },
  methods :{
  	buttonValue(variable){

  		if(this.dataStream != null){
  		this.dataStream.getTracks().forEach(track =>{
  			track.stop();
  		})
  		if(variable == true){  		
  			this.cameraMode = {facingMode: "user"}
  		}else{
  			this.cameraMode =  {facingMode: { exact: "environment" }}
  		}
  		this.mediaDeviceStart()      
  	}
  	
  	},

    dataUrl(){
     var urlCreator = window.URL || window.webkitURL;
	 	 var imageUrl = urlCreator.createObjectURL( this.takenImage );
		 var img = document.querySelector( "#photo" );
		 img.src = imageUrl;
	},
  imageCapture(){ 
  		
  		if(this.dataStream != null){
  			const imageCapture = new window.ImageCapture(this.dataStream.getVideoTracks()[0])
  			return imageCapture.takePhoto().then(blob =>{  				
  				this.takenImage = blob;
  				var storageRef = firebase.storage().ref();				
  				var timestamp = new Date().getTime();
  				this.storeUserData(timestamp);	
  				storageRef.child(`images/picture-${timestamp}`).put(blob).then(res => {})
  				this.dataUrl();
  			})
  		}
  		else{ 
  			console.log('Camera Not On')
  		}
  	},
  	storeUserData(timestamp,user){
	
		var user = firebase.auth().currentUser 

		if(user == null)
			return 0;
		if(this.db == null){
			this.db = firebase.database().ref().child('users/' + user.uid + '/images/');
		}
		var myRef = this.db.push();
		var myKey = myRef.key
		this.inputData.id = myKey;
		this.inputData.timestamp = timestamp
		this.inputData.fileName = 'picture-'+timestamp
		myRef.set(this.inputData);

		this.inputData.id = null
		this.inputData.timestamp = null
		this.inputData.fileName = null

  	},
  	mediaDeviceStart(){
    	if('mediaDevices' in navigator && 'getUserMedia' in navigator.mediaDevices){
  		  navigator.mediaDevices.getUserMedia({ video: this.cameraMode  })
  			.then(mediaStream => {
  				this.$refs.video.srcObject = mediaStream
  				this.$refs.video.play()
  				this.dataStream = mediaStream
  			}).catch(error => console.error('getUserMedia() error:', error))
  	  }
  	},
  	setDeviceToggleButton(){
  		this.toggleButton = true;   		
  	},
  	countofVideoDevices(){  	
  		
  		var enumeratorPromise = navigator.mediaDevices.enumerateDevices();
  		enumeratorPromise.then(mediaDeviceList => {   			
  			var count = 0;
  			for (var i = 0 ; i < mediaDeviceList.length ; i++)
  			{
  				if(mediaDeviceList[i].kind == 'videoinput')
  					count++
  			}
  			
  			if(count > 1)
  				this.setDeviceToggleButton()
  			
  		})
  	},
    getLocation(){      
      if (navigator.geolocation) {       
        navigator.geolocation.getCurrentPosition(this.showPosition)   
      }  
    },
    showPosition(position) {      
      this.inputData.latitude = position.coords.latitude
      this.inputData.longitude = position.coords.longitude
    },
  },
  mounted(){  
  		this.mediaDeviceStart()
  		this.countofVideoDevices()
      this.getLocation()
  		
	},
  destroyed () {
  	/*
		Closes Camera If Tab is changed
  	*/
    if(this.dataStream != null){
    const tracks = this.dataStream.getTracks()
    tracks.map(track => track.stop())
    }
  }


}

</script>
