<template>
  <div class="hello">
    <h1> Simple Camera App </h1>
    <cameraComponent></cameraComponent>
  </div>


</template>

<script>

import CameraComponents from './CameraComponent.vue'
export default {
  name: 'camera',
  components: {
      'cameraComponent' : CameraComponents
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
