<template>
  <div class="hello">
    <h1> Welcome To Foodster Our App Is Yours to use </h1> 

    <img class="imageBoxContainer" id="photo">
    <div v-if ="extraInfo">
     
      <table class="tableData">
        <tr>
          <td> Location </td>
          <td> {{locationData.place}} </td>
        </tr>
        <tr>
          <td> Sunrise </td>
          <td> {{locationData.sunrise}} </td>
        </tr>
        <tr>
          <td> Sunset </td>
          <td> {{locationData.sunset}} </td>
        </tr>
        <tr>
          <td> Temperature </td>
          <td> {{locationData.temperature}}°C</td>
        </tr>
        <tr>
          <td> Weather </td>
          <td> {{locationData.weather}}</td>
        </tr>
      </table>
    </div>
    <div v-for="image in images">

    	<div class='showImageHistoryContainer'> 
    		
    		<h1>Name :{{image.fileName}}</h1>
    		<p>Date Added: {{calculateDate(image.timestamp)}}</p>
    		<p v-if="image.longitude">Longitude: {{Math.round(image.longitude)}}</p>
    			<p v-else> Longitude : No Data </p>
    		<p v-if="image.latitude">Latitude : {{Math.round(image.latitude)}} </p>
    			<p v-else> Latitude  : No Data </p>    			
	    	<button v-on:click="getWeatherInfo(image)"> Search </button>
	    	<button v-on:click="getImage(image)"> Show </button>
       
    	</div>

    </div>
 
  </div>


</template>

<script>

import firebase from 'firebase'

export default {
  name: 'Home', 
  data () {
    return {
      db : null,     
      apiKey : 'd2c2a5be4a1185d3139193f9967e0828',
      user : null,
      images :[], 
      extraInfo:false,
      locationData: {
          place: null,
          sunrise:null,
          sunset: null,
          temperature:null,
          weather:null
      }
    }

  },
  watch:{
    extraInfo : function(){ 
      this.extraInfo = this.extraInfo; 
    }
  },
  methods:{
    getWeatherInfo(data){

     if(data.latitude != undefined && data.longitude != undefined)
     {
       let object = fetch('http://api.openweathermap.org/data/2.5/weather?lat='+ data.latitude +'&lon=' + data.longitude +'&EE&APPID=' + this.apiKey +'&units=metric')
        .then(response =>{
           return (response.json())
        }).then(LocationData => {            
            this.extraInfo = true 
            this.locationData.place = LocationData.name            
            this.locationData.sunrise = this.calculateDate(LocationData.sys.sunrise*1000)
            this.locationData.sunset = this.calculateDate(LocationData.sys.sunset*1000)
            this.locationData.temperature = LocationData.main.temp
            this.locationData.weather = LocationData.weather[0].description         
        }).catch(error =>{
          console.log(error)
        })
      } else {
        alert("Cant find what i dont know")
      }
    },
  	getImage(currentImage){  
      this.extraInfo = false
      var storage = firebase.storage();
      var pathReference = storage.ref('images/');
      var images = pathReference.child(currentImage.fileName);
      images.getDownloadURL().then(url => {        
        var img = document.querySelector( "#photo" );
        img.src = url;
      }).catch(error => {
        console.log(error)
      })
    },
  	calculateDate(timestamp){

  		var date = new Date(timestamp)
  		return date.toLocaleDateString() + ' ' +date.toLocaleTimeString();

  	},
  	newImageListener(){
      
  		this.db.on('child_added',snap =>{
  			this.images.push(snap.val());
  		});	
  		
  	}

  },
  created(){

	  	if(this.user == null){
	  		this.user = firebase.auth().currentUser	  		
	  	}
	  	if(this.db == null ){
	  		this.db = firebase.database().ref().child('users/' + this.user.uid + '/images/')
	  	}
	  	this.newImageListener();
  }
}
</script>