<template>
  <div id="app">  
    <div id="nav">
      <ul class="navBar"> 
          <li></li>
          <li v-if="isLoggedIn">{{this.currentUser}}</li>
          <li v-if="isLoggedIn" > <router-link to="/">Home</router-link></li>
          <li v-if="isLoggedIn" > <router-link to="/camera">Camera </router-link></li>
          <li v-if="!isLoggedIn"> <router-link to="/login">Login </router-link></li>
          <li v-if="!isLoggedIn"> <router-link to="/signup">SignUp </router-link></li>
          <li v-if="isLoggedIn"> <button  v-on:click="logout" class="btn">Logout</button></li>
      </ul>
    </div> 
    <router-view/>
  </div>
</template>

<script>
import './assets/sass/design.scss'
import firebase from 'firebase'
export default {
  name: 'App',
  data(){
      return{
        isLoggedIn : false,
        currentUser : false
      }
  },
  created(){
    if(firebase.auth().currentUser){
       this.isLoggedIn = true;
       this.currentUser = firebase.auth().currentUser.email;

    }
  },
  methods:{
    logout:function(){
      firebase.auth().signOut().then(()=>{
        this.$router.go({path: this.$router.path })

      })
    }
  },  
}
</script>
