	#app {
	  font-family: 'Avenir', Helvetica, Arial, sans-serif;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	  text-align: center;
	  color: #2c3e50;
	  margin: 0;
	}

	#nav{
		width:100%;	
		.navBar{
			list-style: none;
			display:inline-block;
			padding:20px;
			margin: 0 auto;
			width:100%;
			margin-left:-15px;
			margin-top:-10px;
			background-color:#f48336;
			li{
				display: inline;
				padding:30px;
				text-decoration: none;	
				
			}
		}
	}
	.showImageHistoryContainer{
		width:80%;
		display:inline-block;
		margin-bottom:20px;
		padding:15px;
		border: 2px solid #C9C9C9;

		h1{
			display:inline-block;
			font-size: 16px;
			padding-right:20px;
			
		}
		p{
			display:inline-block;
			font-size: 14px;
			padding-right:20px;
		}
		button{
			background-color:	#FF7F50;
			padding:15px;
			border: none;
			&:hover {
			 background-color: #f44336;
			 cursor:pointer;
			}
		}

	}


	.captureButton{
		  background-color: #f44336; /* Green */
		  border: none;
		  color: white;
		  padding: 15px 32px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  margin-top: 10px;
  		  font-size: 16px;
  		  border-radius: 10px; 
	}
	.captureButton:hover{
		background-color: #f48336;
		cursor:pointer;
	}
	.imageBox{
		margin-top:15px;
		display:block;
		margin-left: auto;
  		margin-right: auto;
		width:30%;
		height:30%;
	}
	.tableData{
		margin-top:15px;	
		display:block;
		margin-left: auto;
  		margin-right: auto;  			
		width:20%;
		height:40%;
		padding:10px;
		margin-top:10px;
		border-collapse: collapse; 		
		tr{
			border:3px solid black;
		}
		td{			
			padding: 15px;

		}
	}
	.imageBoxContainer{
		margin-top:15px;
		display:block;
		margin-left: auto;
  		margin-right: auto;
		width:40%;
		height:40%;
		margin-bottom:30px;
	}
	.camera-stream {
		width: 70%;
		max-height: 70%;
		border-style:solid;
		border-width: 8px;
	}
	.loginForm{
		margin-top:50px;
		vertical-align:middle;	
		display:inline-block;	
		border: solid 3px #C9C9C9;
		padding: 20px;
		width:90%;
		input{

			text-align:center;
			width:60%;
			padding: 16px 20px;
			margin: 8px 0;
			display: inline-block;
		}
		input[type=submit] {
		  background-color: #FF7E47;
		  box-shadow:5px;
		  border: none;
		  color: white;	
		  text-decoration: none;		
		  cursor: pointer;
		}
	}	
	.signUpForm{
		margin-top:50px;
		vertical-align:middle;	
		display:inline-block;	
		border: solid 3px #C9C9C9;
		padding: 20px;
		width:90%;
		input{

			text-align:center;
			width:60%;
			padding: 16px 20px;
			margin: 8px 0;
			display: inline-block;
		}
		input[type=submit] {
		  background-color: #FF7E47;
		  box-shadow:5px;
		  border: none;
		  color: white;	
		  text-decoration: none;		
		  cursor: pointer;
		}

		
	}